@page "/cardlogin"

<PageTitle>Anmeldung mit Benutzerausweis</PageTitle>

<div class="container">
    <div class="row show-grid">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="span16 column">
                <form class=".form-stacked">
                    <div class="clearfix">
                        <label for="">Mitarbeiterausweis</label>
                        <div class="input">
                            <input class="xlarge" id="cardId" name="cardId" size="30" type="password">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>